body {
  font-family: Arial;
  margin: 20px;
  background: #f4f4f4;
}

header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  background: white;
  padding: 15px;
  margin-top: 10px;
}
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}